@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --black: rgb(20,20,20);
  --grey: rgb(135, 135, 135);
  --lightgrey:rgb(200, 200, 200);
  --medgrey:rgb(55, 55, 55);
  --darkgrey: rgb(40,40,40);
  --white: white;
  --blue: #29ACCC;
  --orange: #F76731;
  --green: #52D423;
  --yellow: #FFED2B;
  --pink: #db0090
}

/*
=======================================
  Shared
=======================================
*/
.darkgrey-back {
  background-color: var(--darkgrey);
}

.medgrey-back {
  background-color: var(--medgrey);
}

.white-back {
  background-color: var(--white);
}

.blue-back {
  background-color: var(--blue);
}

.green-back {
  background-color: var(--green);
}

.pink-back {
  background-color: var(--pink);
}

.orange-back {
  background-color: var(--orange);
}

.grey-font {
  color: var(--grey);
}

.lightgrey-font {
  color: var(--lightgrey)
}

.white-font {
  color: var(--white);
}

.blue-font {
  color: var(--blue);
}

.green-font {
  color: var(--green);
}

.orange-font {
  color: var(--orange);
}

.block {
  display: block;
}

.display-none {
  display: none;
}

.sidepad {
  padding: 0 5px;
}

.upside-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*
=======================================
  Body Styling
=======================================
*/

* {
  /* border: 1px solid gold; */
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: var(--grey);
  font-size: .9em;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}

body {
  background: var(--black);
}

a:hover {
  color: var(--blue);
}

/*
=======================================
  Container
=======================================
*/
.container {
  width: 800px;
  margin: auto;
  padding-top: 50px;
}

/*
=======================================
  Social Header Styling
=======================================
*/
.social-container {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}

.social {
  padding-left: 15px;
  font-size: 2em;
  color: var(--grey);
}

.social:hover {
  color: white;
}


/*
=======================================
  Main Content
=======================================
*/
/*-------------------------------------
  Common container settings
--------------------------------------*/
.main-container, .section-container, .section-nav, .section-content {
  width: 100%;
}

/*-------------------------------------
  Section Containers
--------------------------------------*/
.section-container {
  border-bottom: 1px dotted var(--grey);
}

#contact-section {
  border-bottom: 1px solid black;
}

.section-content {
  padding: 2em;
  box-sizing: border-box;
}

.section-content-container {
  display: flex;
  flex-direction: column;
}


/*-------------------------------------
  Section Nav
--------------------------------------*/
.section-nav {
  position: relative;
  cursor: pointer;
}

.section-nav-title {
  min-width: 120px;
  max-width: 180px;
  font-size: 1.6em;
  font-weight: bold;
  position: relative;
}

.section-title {
  padding: 0 1em;
}

.section-nav-title-overlay {
  width: 0;
  height: 54px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-nav-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 54px;
  height: 54px;
  font-size: 22px;
  left: -54px;
  top: 0;
}

.section-chevron-container {
  width: 20px;
  height: 20px;
  font-size: 2em;
  position: absolute;
  right: 1em;
  top: .5em;
}

.fa-chevron-circle-down {
  transition: all 0.5s ease;
}

.section-nav:hover > .section-chevron-container {
  color: var(--white);
}


/*-------------------------------------
  Section Header
--------------------------------------*/
.section-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 2em;
}

/*-------------------------------------
  About Section
--------------------------------------*/
.portrait, .title, .about-contact-container {
  margin-right: 4em;
}

.portrait {
  width: 110px;
  height: 130px;
  border: .5em solid var(--medgrey);
  transition: 0.6s ease;
}

.title h1, h2 {
  padding: 0;
  margin: 0;
}

.title h2 {
  font-size: 1.3em;
  padding-top: .8em
}

.title h1 {
  font-size: 2.1em;
  min-width: 230px;
}

.title {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section-content-container > .section-content {
  padding-top: 0;
}

.table-key {
  padding: 5px;
  font-weight: 700;
  text-align: right;
  font-size: 1.2em;
}

.social-link {
  color: var(--grey);
  text-decoration: none;
}

#profile-nav-title-overlay {
  width: 100%;
}
/*-------------------------------------
  Resume Section
--------------------------------------*/
.resume-container{
  display: none;
  padding: 2em;
  width: 100%;
  box-sizing: border-box;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes fadein {
    0%   {opacity: 0;}
    25%  {opacity: .3;}
    50%  {opacity: .6;}
    100% {opacity: 1;}
}

.resume-content {
  margin: 2em 0;
}

.resume-content-container {
  width: 60%;
}

.resume-skills-container {
  width: 40%;
  padding-left: 2em;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.resume-header {
  width: 100%;
  padding: .4em;
  margin-top: 1em;
  font-size: 1.1em;
  box-sizing: border-box;
}

#education-header {
  margin-top: 3em;
}

.resume-titles {
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.resume-history-title {
  position: relative;
  width: 100%;
}

.resume-history-title-icon {
  padding: .5em;
  font-size: 1.3em;
}

.resume-history-title-container {
  display: flex;
  margin-top: 1em;
}

.resume-history-work-duration {
  font-size: 1.3em;
  position: absolute;
  right: 1px;
  top: 0;
}

.resume-history-work-title, .resume-history-education-title {
  font-size: 1.4em;
}

.resume-history-content {
  padding: 1.4em 0;
  border-bottom: 1px dotted var(--grey);
}

.skills-table {
  /* border-collapse:separate;
  border-spacing:2em; */
}

.row-space {
  height: 2em;
}

.table-key-skills {
  font-weight: 600;
  text-align: right;
  font-size: 1em;
  padding: 1.2em;
  width: 1em;
}

.skills-list {
  list-style: none;
  padding-left: 1.2em;
  padding-right: 0;
  margin-right: 0;
}

.skills-list-blue > li::before{
  content: "›  ";
  color: var(--blue);
}

.skills-list-green > li::before{
  content: "›  ";
  color: var(--green);
}

.skills-list-pink > li::before{
  content: "›  ";
  color: var(--pink);
}

.skills-list-orange > li::before{
  content: "›  ";
  color: var(--orange);
}

.skills-list-yellow > li::before{
  content: "›  ";
  color: var(--yellow);
}

.skill-column-orange {
  border-left: 3px solid var(--orange);
}

.skill-column-blue{
  border-left: 3px solid var(--blue);
}

.skill-column-green{
  border-left: 3px solid var(--green);
}

.skill-column-pink{
  border-left: 3px solid var(--pink);
}

.skill-column-yellow{
  border-left: 3px solid var(--yellow);
}


/*-------------------------------------
  Portfolio Section
--------------------------------------*/
.portfolio-container {
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: center;
  position: relative;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.portfolio-content-container {
  width: 100%;
  max-height: 900px;
  box-sizing: border-box;
  padding: 1em;
}

/*-------------------------------------
  Slideshow
--------------------------------------*/
.slideshow-container, .mySlides, .prev, .next, .text, .numbertext, .dot {
  box-sizing:border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: -3em;
}

/* Position the "next button" to the right */
.next {
  right: -3em;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: var(--white);
  font-size: 1em;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}

.title-overlay {
  position: relative;
  background-color: rgba(40,40,40,.8);
  padding: 30px 10px;
  width: 180px;
  box-sizing: border-box;
}

.title-overlay h2 {
  font-size: 1.8em;
  padding: 15px 0;
  font-weight: normal;
  border-top: 1px dotted var(--grey);
  border-bottom: 1px dotted var(--grey);
}

.slide-details-content h2 {
  font-size: 1.2em;
}

.title-overlay h3 {
  font-size: 1.3em;
  font-weight: normal;
  color: var(--blue);
}

.slide-details {
  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 2em 0;
  text-align: left;
  background: rgba(25,25,25, .5);
  padding: 1em;
  transition: background-color 1s ease;
}

.learn-button {
  padding: 10px;
  border: 1px solid grey;
}

.learn-button:hover {
  background-color: var(--blue);
}
.slide-details-content h4 {
  font-size: 1.4em;
  font-weight: normal;
}

.slide-details-content table {
  margin: 10px 0;
}

.slide-details-content td {
  padding: .5em;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: -2.5em;
  left: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 5px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Expand animation */
.expand {
  -webkit-animation-name: expand;
  -webkit-animation-duration: 1s;
  animation-name: expand;
  animation-duration: 1s;
}

@-webkit-keyframes expand{
  0%   { width: 0; }
  100% { width: 180px; }
}

@keyframes expand {
  0%   { width: 0; }
  100% { width: 180px; }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*-------------------------------------
  Modal
--------------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Modal Content */
.modal-content {
    background-color: var(--darkgrey);
    margin: auto;
    padding: 15px;
    border: 10px solid grey;
    width: 800px;
    display: flex;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-image-container {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-image-container > img {
  padding: 10px 0;
}

.modal-content-container {
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 20px;
}

.modal-title-container {
  width: 100%;
  min-height: 100px;
  display: flex;
}

.modal-links-container {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

.modal-link {
  padding: 0 15px;
  color: var(--orange);
}

.modal-description-container {
  width: 100%;
  min-height: 100px;
  padding: 1em;
  line-height: 1.5em;
  font-size: 1.1em;
}

.modal-title {
  width: 65%;
  padding: .5em;
  color: white;
  font-size: 3em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-tech {
  width: 35%;
  padding: 1em;
  box-sizing: border-box;
}

.modal-tech td {
  padding: .5em;
  border-left: 1px dotted grey;
}

/*-------------------------------------
  Form
--------------------------------------*/

.contact-container {
  display: none;
  padding: 1.4em;
}

label {
  width: 100%;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--medgrey);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: var(--black);
}

input[type=submit] {
    background-color: var(--medgrey);
    color: var(--grey);
    padding: 8px 18px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--black);
}

/*-------------------------------------
  Media queries
--------------------------------------*/

@media screen and (max-width: 960px) {
  .container {
    width: 650px;
    padding-top: 30px;
  }
  .title h1 {
    font-size: 2em;
    min-width: 170px;
  }
  .title h2 {
    font-size: 1.2em;
  }
  .portrait {
    width: 80px;
    height: 100px;
  }
  .modal {
    padding-top: 80px;
  }
  .modal-image-container > img {
    max-width: 200px;
  }
  .modal-content  {
    width: 600px;
  }
  .table-key-skills {
    font-size: .9em;
  }
}


@media screen and (max-width: 768px) {
  .container {
    width: 400px;
    padding-top: 15px;
  }
  #profile-header {
    flex-wrap: wrap;
  }
  .portrait, .title, .about-contact-container {
    margin-right: 1em;
  }
  .about-contact-container {
    padding-top: 2em;
    padding-left: 5em;
  }
  .resume-container {
    flex-wrap: wrap;
  }
  .resume-content-container {
    width: 90%;
  }
  .resume-skills-container {
    width: 90%;
    padding: 0;
  }
  #tech-skills-header {
    margin-top: 3em;
  }
  .portfolio-menu-container {
    width: 100%;
    height: 3.5em;
    border-bottom: 1px dotted var(--medgrey);
  }
  .portfolio-nav {
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: .2em;
  }
  .portfolio-container {
    height: 600px;
  }
  .portfolio-content-container {
    margin: auto;
    margin-top: 3.3em;
    width: 90%;
    padding: 0;
    max-height: 500px;
  }
  .portfoilio-section-image > img {
    max-height: 100px;
  }
  .slide-details-content h2, .slide-details-content table {
    display: none;
  }
  .modal {
    padding-top: 60px;
  }
  .modal-image-container > img {
    max-width: 300px;
  }
  .modal-content {
    width: 400px;
    flex-direction: column;
    overflow-y: scroll;
  }
  .modal-content-container, .modal-image-container {
    width: 100%;
  }
  .modal-tech > table{
    padding-bottom: 10px;
  }
  .modal-title-container {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .title h1 {
    font-size: 2.4em;
    min-width: 170px;
  }
  .container {
    width: 340px;
    padding-top: 15px;
  }
  .portrait {
    display: none;
  }
  .about-contact-container {
    padding-top: 2em;
    padding-left: 1em;
  }
  .resume-history-work-title {
    max-width: 3em;
  }
  .table-key-skills {
    width: 1em;
  }
  .portfolio-section {
    flex-direction: column;
    height: 400px;
  }
  .portfoilio-section-image, .portfoilio-section-title {
    height: 150px;
    width: 100%;
  }
  .portfoilio-section-image > img {
    max-height: 190px;
  }
  .portfolio-section-title {
    margin-top: 40px;
  }
  .section-nav-icon-container {
    display: none;
  }
  .modal-content {
    width: 300px;
  }
  .modal-title {
    font-size: 2.2em;
  }
}
