/*
=======================================
  Body Styling
=======================================
*/
body, html {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(20,20,20);
}

/*
=======================================
  Container
=======================================
*/
.container {
  width: 900px;
  margin: auto;
  padding-top: 50px;
}

/*
=======================================
  Social Header Styling
=======================================
*/
.social-container {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}

.social {
  color:white;
  padding-left: 15px;
  font-size: 1.2em;
}


/*
=======================================
  Main Content
=======================================
*/
/*-------------------------------------
  Common container settings
--------------------------------------*/
.main-container, .section-container, .section-nav, .section-content {
  width: 100%;
}

/*-------------------------------------
  Section Containers
--------------------------------------*/
.section-container {
  background: rgb(40,40,40);
}

.section-content {
  padding: 30px;
}

/*-------------------------------------
  Section Nav
--------------------------------------*/
.section-nav-title {
  padding: 20px;
  width: 100px;
  height: 30px;
  color: white;
  font-size: 1.2em;
  background: #29ACCC;
  position: relative;
}

.section-nav-icon-container {
  position: absolute;
  padding: 17px;
  font-size: 31px;
  background: #29ACCC;
  left: -64px;
  top: 0;
}
