/*
==================
 Import fonts
==================
*/

@import url('https://fonts.googleapis.com/css?family=Monofett');
@import url('https://fonts.googleapis.com/css?family=Bangers|Codystar');

/*
==================
 Elements
==================
*/
* {
  /* border: 1px solid gold; */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
}

body {
  background: url('../images/forest.jpg');
  background-size: cover;
}

/*
==================
 Containers
==================
*/

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    background-color: rgba(0,31,63, 0.4);
  }
  50% {
    background-color: rgb(255,65,54, 0.2);
  }
  100% {
    background-color: rgba(0,31,63, 0.4);
  }
}

#player1_container {
  width: 100px;
  height: 100%;
}


#center_container {
  display: inline-block;
  /* width: 710px; */
  /* Do I want to put flex? */
}

#board_container {
  box-shadow: 5px 5px 20px;
  background-color: #383838;
}

#player2_container {
  width: 100px;
  height: 100%;
}

#purple_container {
  width: 100px;
  height: 100%;
}


#controls_container > p {
  font-family: 'Bangers', cursive;
  font-size: 30px;
  color: white;
}



/*
==================
 Board element styling
==================
*/
.row {
  display: flex;
  justify-content: flex-start;
}

.col {
  display: inline-block;
  width: 75px;
  height: 75px;
  padding: 0;
  margin: 0;
  /* border: 1px solid grey; */
}

.colcover {
  display: inline-block;
  /* border: 1px solid lightgrey; */
  width: 75px;
  height: 75px;
  padding: 0;
  margin: 0;
  background-image: url("../images/board.png");
  background-size: cover;
  transform:translateY(-450px)
}

.inputCol {
  /* border: 1px solid black; */
  display: inline-block;
  width: 75px;
  height: 120px;
  background-image: url("../images/keyboard_arrow_down_darker.png");
  background-size: cover;
  opacity: .5;
}

.red {
  width: 75px;
  height: 75px;
  /* background-color: red; */
  background-image: url('../images/Very_Angry_Emoji_small.png');
  background-size: cover;
}

.blue {
  width: 75px;
  height: 75px;
  /* background-color: blue; */
  background-image: url('../images/Smiling_Devil_Emoji_small.png');
  background-size: cover;
}

.purple {
  width: 75px;
  height: 75px;
  /* background-color: blue; */
  background-image: url('../images/Smiling_Devil_Emoji_small.png');
  background-size: cover;
}

/*
==================
 Score board
==================
*/
#score_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100px;
  vertical-align: center;
  text-align: center;
  border: 1px solid gray;
  /* background: url('../images/prompt_background.png');
  background-size: cover; */
  background: linear-gradient(#ba9964, #d8c7ab);
  box-shadow: 3px 3px 12px;
}

#p1_score_container {
  width: 190px;
  height: 90px;
  display: flex;
}

#p2_score_container {
  width: 190px;
  height: 90px;
  display: inline-block;
  display: flex;
}

#p1_logo {
  width: 90px;
  height:90px;
  background-image: url('../images/Very_Angry_Emoji_small.png');
  background-size: cover;
}

#p1_score {
  width: 90px;
  height:90px;
  background-color: rgba(0, 0, 0, 0.60);
  padding: 0;
  margin: 0;
  font-size: 80px;
  font-family: 'Codystar', cursive;
  color: white;
  text-align: center;
  vertical-align: middle;
}

#p2_logo {
  width: 90px;
  height:90px;
  background-image: url('../images/Smiling_Devil_Emoji_small.png');
  background-size: cover;
}

#p2_score {
  width: 90px;
  height:90px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.60);
  font-size: 80px;
  font-family: 'Codystar', cursive;
  color: white;
  text-align: center;
  vertical-align: middle;
}

#score_center_container {
  width: 120px;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.85); */
  font-family: 'Bangers', cursive;
  /* font-family: 'Monofett', cursive; */
  font-size: 50px;
  padding: 0;
  margin: 0;
  /* border: 1px solid gold; */
  /* color: #457a5f; */
  color: white;
}

#score_center{
  margin: 0;
  padding: 0;
}


/*
==================
 Message Prompt
==================
*/

#message_prompt {
  height: 100px;
  transform:translateY(-950px);
  text-align: center;
  vertical-align: center;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  animation: mainprompt 2s 1;
  display: none;

}

@keyframes mainprompt {
  0% {
    transform: translateY(-950px) scale(.2);
  }
  25% {
    transform: translateY(-950px) scale(1.7);
  }
  50% {
    transform: translateY(-950px) scale(1);
  }
}

#controls_container {
  display: none;
  position: absolute;
  top: 220px;
  background: #bc3e00;
  width: 525px;
  height: 150px;
  text-align: center;
  animation: restartPrompt 1s 1;
}

@keyframes restartPrompt {
  0% {
    transform: scaleY(.2);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}


.button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    /* border: 2px solid #4CAF50; */
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
