/*
==================
 Elements
==================
*/
* {
  /* border: 1px solid gold; */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
}

/*
==================
 Containers
==================
*/

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#red_container {
  width: 100px;
  height: 100%;
}


#center_container {
  display: inline-block;
  /* width: 710px; */
  /* Do I want to put flex? */
}

#blue_container {
  width: 100px;
  height: 100%;
}

#score_container {
  height: 75px;
  vertical-align: center;
  text-align: center;
}

/*
==================
 Board element styling
==================
*/
.row {
  display: flex;
  justify-content: flex-start;
  /* width: 710px;
  height: 100px; */
}

.col {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 1px solid grey;
}

.inputCol {
  border: 1px solid black;
  display: inline-block;
  width: 75px;
  height: 75px;
  background-image: url("../images/keyboard_arrow_down_grey_192x192.png");
  background-size: cover;
  opacity: .5;
}

.red {
  width: 75px;
  height: 75px;
  background-color: red;
}

.blue {
  width: 75px;
  height: 75px;
  background-color: blue;
}
